body {
  margin: 0;
  padding: 0;
  height: 100%; 
  overflow-y: hidden;
}
#root {
  height: 100%;
}

.formLogin {
  width: 300px;
  padding: 20px;
  background-color: #F6F4F0;
  display: flex;
  flex-direction: column;
  
  text-align: center;
  border-radius: 20px;
}

.Inputpassword {
  width: 100%;
  background-color: #D9D9D9;
  border-radius: 20px;
  box-shadow: 0px 1px  #757474;
}

.Inputusername {
  width: 100%;
  background-color: #D9D9D9;
  border-radius: 20px;
  box-shadow: 0px 1px  #757474;
}